<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Crear</h3>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                 <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id">-->
                            <p>{{producto.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="producto.nombre" formControlName="nombre">
                            <div *ngIf="getTheFormGroup.nombre.errors && (getTheFormGroup.nombre.dirty || getTheFormGroup.nombre.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.nombre.errors.pattern" class="msnError">Caracteres inválidos</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Peso:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="producto.peso" formControlName="peso">
                            <div *ngIf="getTheFormGroup.peso.errors && (getTheFormGroup.peso.dirty || getTheFormGroup.peso.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.peso.errors.min" class="msnError">Elija un número entre 0.5 y 10</strong>
                                <strong *ngIf="getTheFormGroup.peso.errors.max" class="msnError">Elija un número entre 0.5 y 10</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Cantidad disponible:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="producto.cantidad_disponible" formControlName="cantidad_disponible">
                            <div *ngIf="getTheFormGroup.cantidad_disponible.errors && (getTheFormGroup.cantidad_disponible.dirty || getTheFormGroup.cantidad_disponible.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.cantidad_disponible.errors.min" class="msnError">Elija un número entre 1 y 500</strong>
                                <strong *ngIf="getTheFormGroup.cantidad_disponible.errors.max" class="msnError">Elija un número entre 1 y 500</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Precio:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="producto.precio" formControlName="precio">
                            <div *ngIf="getTheFormGroup.precio.errors && (getTheFormGroup.precio.dirty || getTheFormGroup.precio.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.precio.errors.min" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.precio.errors.max" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de cliente:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="producto.cliente_id" formControlName="cliente_id">
                            <div *ngIf="getTheFormGroup.cliente_id.errors && (getTheFormGroup.cliente_id.dirty || getTheFormGroup.cliente_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.cliente_id.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.cliente_id.errors.pattern" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de lote:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="producto.lote_id" formControlName="lote_id">
                            <div *ngIf="getTheFormGroup.lote_id.errors && (getTheFormGroup.lote_id.dirty || getTheFormGroup.lote_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.lote_id.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.lote_id.errors.pattern" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button 
                              class="btn btn-success btn-block" 
                              *ngIf="producto.id; else createButton" 
                              (click)="update()"
                            >
                              Actualizar
                            </button>
                            <ng-template #createButton>
                              <button 
                                class="btn btn-success btn-block" 
                                (click)="create()"
                              >
                                Crear
                              </button>
                            </ng-template>
                        </div>
                    </div>
                 </div>
            </form>
            </div>
        </div>
    </div>
</div>

