<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Rutas del Contrato {{ contratoId }}</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col-1">ID</th>
                  <th scope="col-2">Contrato ID</th>
                  <th scope="col-3">Vehiculo ID</th>
                  <th scope="col-4">Fecha de asignacion</th>
                  <th scope="col-5">Origen</th>
                  <th scope="col-6">Destino</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of rutas">
                  <td>{{ actual.id }}</td>
                  <td>{{ actual.contrato_id }}</td>
                  <td>{{ actual.vehiculo_id }}</td>
                  <td>{{ actual.fecha_asignacion }}</td>
                  <td>{{ actual.origen }}</td>
                  <td>{{ actual.destino }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>