<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Crear</h3>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                 <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id">-->
                            <p>{{persona_natural.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de cliente:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="persona_natural.cliente_id" formControlName="cliente_id">
                            <div *ngIf="getTheFormGroup.cliente_id.errors && (getTheFormGroup.cliente_id.dirty || getTheFormGroup.cliente_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.cliente_id.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.cliente_id.errors.pattern" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de usuario:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="persona_natural.usuario_id" formControlName="usuario_id">
                            <div *ngIf="getTheFormGroup.usuario_id.errors && (getTheFormGroup.usuario_id.dirty || getTheFormGroup.usuario_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.usuario_id.errors.required" class="msnError">Requerido</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button 
                              class="btn btn-success btn-block" 
                              *ngIf="persona_natural.id; else createButton" 
                              (click)="update()"
                            >
                              Actualizar
                            </button>
                            <ng-template #createButton>
                              <button 
                                class="btn btn-success btn-block" 
                                (click)="create()"
                              >
                                Crear
                              </button>
                            </ng-template>
                        </div>
                    </div>
                 </div>
            </form>
            </div>
        </div>
    </div>
</div>

