<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Crear</h3>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                 <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id">-->
                            <p>{{servicio.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="servicio.nombre" formControlName="nombre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Direccion:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="servicio.direccion" formControlName="direccion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label> Telefono:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="servicio.telefono" formControlName="telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Horario de apertura:</label>
                        </div>
                        <div class="col-8">
                            <input type="string" class="form-control" [(ngModel)]="servicio.horarioApertura" formControlName="horarioApertura">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Horario de cierre:</label>
                        </div>
                        <div class="col-8">
                            <input type="string" class="form-control" [(ngModel)]="servicio.horarioCierre" formControlName="horarioCierre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Calificacion:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="servicio.calificacion" formControlName="calificacion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Administrador:</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="administrador_id" [(ngModel)]="servicio.administrador_id">
                                <option *ngFor="let option of admins" [value]="option.id">Id: {{option.id}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button 
                              class="btn btn-success btn-block" 
                              *ngIf="servicio.id; else createButton" 
                              (click)="update()"
                            >
                              Actualizar
                            </button>
                            <ng-template #createButton>
                              <button 
                                class="btn btn-success btn-block" 
                                (click)="create()"
                              >
                                Crear
                              </button>
                            </ng-template>
                        </div>
                    </div>
                 </div>
            </form>
                
            </div>
        </div>
    </div>
</div>