<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Crear</h3>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                 <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id">-->
                            <p>{{cliente.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" formControlName="nombre">
                            <div *ngIf="getTheFormGroup.nombre.errors && (getTheFormGroup.nombre.dirty || getTheFormGroup.nombre.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.nombre.errors.pattern" class="msnError">Caracteres escritos inválidos</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Teléfono:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" formControlName="telefono">
                            <div *ngIf="getTheFormGroup.telefono.errors && (getTheFormGroup.telefono.dirty || getTheFormGroup.telefono.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.telefono.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.telefono.errors.pattern" class="msnError">Caracteres escritos inválidos</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button 
                              class="btn btn-success btn-block" 
                              *ngIf="cliente.id; else createButton" 
                              (click)="update()"
                            >
                              Actualizar
                            </button>
                            <ng-template #createButton>
                              <button 
                                class="btn btn-success btn-block" 
                                (click)="create()"
                              >
                                Crear
                              </button>
                            </ng-template>
                        </div>
                    </div>
                 </div>
            </form>
                
            </div>
        </div>
    </div>
</div>

