<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Crear</h3>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                 <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id">-->
                            <p>{{orden.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de ruta:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="orden.ruta_id" formControlName="ruta_id">
                            <div *ngIf="getTheFormGroup.ruta_id.errors && (getTheFormGroup.ruta_id.dirty || getTheFormGroup.ruta_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.ruta_id.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.ruta_id.errors.pattern" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de dirección:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="orden.direccion_id" formControlName="direccion_id">
                            <div *ngIf="getTheFormGroup.direccion_id.errors && (getTheFormGroup.direccion_id.dirty || getTheFormGroup.direccion_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.direccion_id.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.direccion_id.errors.pattern" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>ID de lote:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="orden.lote_id" formControlName="lote_id">
                            <div *ngIf="getTheFormGroup.lote_id.errors && (getTheFormGroup.lote_id.dirty || getTheFormGroup.lote_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.lote_id.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getTheFormGroup.lote_id.errors.pattern" class="msnError">Debe ser un número</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button 
                              class="btn btn-success btn-block" 
                              *ngIf="orden.id; else createButton" 
                              (click)="update()"
                            >
                              Actualizar
                            </button>
                            <ng-template #createButton>
                              <button 
                                class="btn btn-success btn-block" 
                                (click)="create()"
                              >
                                Crear
                              </button>
                            </ng-template>
                        </div>
                    </div>
                 </div>
            </form>
                
            </div>
        </div>
    </div>
</div>

